* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-block {
    display: flex;
    justify-content: center;
    gap: 50px;

    width: 100%;

    margin: 50px auto;
}

.main-block .inputs-block {
    width: 300px;
    height: 400px;

    background-color: aquamarine;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main-block .cards-block {
    width: 750px;

    /* background-color: burlywood; */

    display: flex;
    flex-wrap: wrap;
}

.cards-block .card {
    width: 250px;
    height: 250px;

    background-color: rgb(207, 165, 87);

    border: 2px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}
